<div id="player_edit">
  <h1 id="title">Edit Player</h1>
  <form *ngIf="edit_player" id="edit_form">
    <label for="name" class="label">name: </label>
    <input type="text" id="name" name="name" [(ngModel)]="edit_player.name" class="input"><br>
    <label for="height" class="label">height: </label>
    <input type="text" id="height" name="height" [(ngModel)]="edit_player.height" class="input"><br>
    <input type="submit" value="edit player" (click)="OnPlayerEdit()" id="submit">
  </form>
</div>

